@charset "UTF-8";
/* last update 2022. 12. 07 */
/* */
*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  width: 100%;
  height: 100%;
  cursor: default;
  line-height: 1.15;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

button,
input,
select,
table,
textarea {
  line-height: 1.5;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
  border-width: 1px 0 0 0;
  border-style: solid;
}

main,
details {
  display: block;
}

dl,
ol,
ul,
menu {
  list-style: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

address,
em,
i {
  font-style: normal;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

img {
  vertical-align: top;
}

iframe,
img,
fieldset {
  border-style: none;
}

img,
video {
  max-width: 100%;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

img[src$=".gif"],
img[src$=".png"] {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button,
input {
  border: 0;
  border-radius: 0;
  overflow: visible;
}

input:focus {
  outline: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #a0a0a0;
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

dialog {
  background-color: #fff;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* font style */
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("src/resources/fonts/NotoSansKR/NotoSans-Light.woff2") format("woff2"), url("src/resources/fonts/NotoSansKR/NotoSans-Light.woff") format("woff"), url("src/resources/fonts/NotoSansKR/NotoSans-Light.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("src/resources/fonts/NotoSansKR/NotoSans-Regular.woff2") format("woff2"), url("src/resources/fonts/NotoSansKR/NotoSans-Regular.woff") format("woff"), url("src/resources/fonts/NotoSansKR/NotoSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("src/resources/fonts/NotoSansKR/NotoSans-Medium.woff2") format("woff2"), url("src/resources/fonts/NotoSansKR/NotoSans-Medium.woff") format("woff"), url("src/resources/fonts/NotoSansKR/NotoSans-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("src/resources/fonts/NotoSansKR/NotoSans-Bold.woff2") format("woff2"), url("src/resources/fonts/NotoSansKR/NotoSans-Bold.woff") format("woff"), url("src/resources/fonts/NotoSansKR/NotoSans-Bold.otf") format("opentype");
}
.ico_img.login {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: #ccc;
}
.ico_img.login img {
  width: 45%;
}

.ico.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -2px;
  display: block;
  color: #909090;
}
.ico.menu, .ico.menu::before, .ico.menu::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;
}
.ico.menu::before, .ico.menu::after {
  content: "";
  position: absolute;
  left: 0;
}
.ico.menu::before {
  top: -8px;
}
.ico.menu::after {
  bottom: -8px;
}
.ico.up, .ico.down {
  position: relative;
}
.ico.up::after, .ico.down::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -4px;
  width: 9px;
  height: 9px;
  border-top: 2px solid #008aff;
  border-right: 2px solid #008aff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ico.down::after {
  margin-top: -6px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.ico.expand {
  position: relative;
  width: 16px;
  height: 16px;
  border: 2px solid #909090;
  overflow: visible !important;
}
.ico.expand::before, .ico.expand::after {
  content: "";
  position: absolute;
  top: 4px;
  border-top: 4px solid #fff;
  left: -2px;
  right: -2px;
}
.ico.expand::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ico.edit {
  background: url(src/resources/images/icon/ico_edit.png) no-repeat center center;
}
.ico.pause {
  background: url(src/resources/images/icon/ico_pause.png) no-repeat center center;
}
.ico.del {
  background: url(src/resources/images/icon/ico_del.png) no-repeat center center;
}
.ico.refresh {
  background: url(src/resources/images/icon/ico_refresh.png) no-repeat center center;
}

.btn_icon .ico {
  display: block;
  max-width: 32px;
  max-height: 32px;
  margin: auto;
  color: transparent;
  overflow: hidden;
}

.ico_css {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.ico_css.back::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -2px;
  width: 26px;
  border-top: 4px solid currentColor;
}
.ico_css.back::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  margin-top: -9px;
  display: block;
  border-top: 4px solid currentColor;
  border-right: 4px solid currentColor;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  width: 18px;
  height: 18px;
}

.btn_more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 46px;
  border: 0;
  border-radius: 46px;
  background-color: #f4f4f4;
  font-size: 16px;
  color: #838383;
  font-weight: bold;
}

.btn_comm {
  min-width: 72px;
  height: 36px;
  padding: 0 20px;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
}
.btn_comm.submit {
  border: 0;
  background-color: #008aff;
  color: #fff;
}
.btn_comm.cancel {
  border-color: #222;
}
.btn_comm.err {
  border: 0;
  background-color: #fdf3f2;
  color: #e76055;
  transition: background-color 0.2s, color 0.2s;
}
.btn_comm.err:hover {
  background-color: #e76055;
  color: #fff;
}
.btn_comm.lg {
  min-width: 130px;
  height: 48px;
  font-size: 16px;
}

.btn_pop {
  width: 110px;
  height: 42px;
  margin: 0 2px;
  border-radius: 4px;
  font-size: 15px;
}
.btn_pop.submit {
  background-color: #0084ff;
  color: #fff;
}
.btn_pop.cancel {
  border: 1px solid #222;
}

.btn_icon {
  width: 32px;
  height: 32px;
}

.btn_menu {
  position: relative;
  width: 48px;
  min-height: 48px;
}
.btn_menu:hover span {
  color: #222;
}

.tab_buttons {
  display: flex;
  padding-left: 1px;
  margin-bottom: 3.75rem;
}
.tab_buttons .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.9em;
  margin-left: -1px;
  border: 1px solid #e6e6e6;
  border-bottom-color: #ccc;
  background-color: #f2f2f2;
  font-size: 1.5rem;
  color: #b2b2b2;
  font-weight: 500;
}
.tab_buttons .btn.selected {
  position: relative;
  border-color: #ccc;
  border-bottom: 0;
  background-color: #fff;
  color: #222;
  font-weight: 600;
}

.form_textfield {
  width: 100%;
  height: 2.75rem;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding-left: 10px;
  background-color: #fff;
  color: #555;
  font-size: 14px;
}

.form_textarea {
  width: 100%;
  min-height: 2.75rem;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  color: #555;
  font-size: 14px;
}

.chk_custom {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #555;
}
.chk_custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.chk_custom .checkbox {
  position: relative;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  border: 1px solid #dedede;
  background-color: #fbfbfb;
}
.chk_custom .checkbox::after {
  content: "";
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 6px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #fff;
}
.chk_custom input:checked ~ .checkbox {
  border: 0;
  background-color: #008aff;
}
.chk_custom input:checked ~ .checkbox::after {
  display: block;
}
.chk_custom .label {
  padding-left: 8px;
}
.chk_custom + .chk_custom {
  margin-left: 25px;
}

/* select */
.custom-select {
  position: relative;
  display: inline-block;
  height: 2.75rem;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */
}
.custom-select select {
  display: none;
}
.custom-select .select-selected:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 34px;
  height: 5px;
  margin-top: -3px;
  background: url(src/resources/images/icon/ico_dropdown.png) no-repeat center center;
  opacity: 0.25;
}
.custom-select .select-selected.select-arrow-active:after {
  opacity: 1;
}
.custom-select .select-items div, .custom-select .select-selected {
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}
.custom-select .select-selected {
  height: 100%;
}
.custom-select .select-items div {
  height: 3em;
}
.custom-select .select-items {
  z-index: 99;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 3px;
  min-width: 100%;
  border-radius: 4px;
  border: 1px solid #222;
  background-color: #fff;
  overflow: hidden;
}
.custom-select .select-items div:not(:first-child) {
  border-top: 1px solid #e8eef5;
}
.custom-select .select-hide {
  display: none;
}
.custom-select .select-items div:hover, .custom-select .same-as-selected {
  background-color: #f2f9ff;
  color: #0084ff;
}

.list_form .custom-select {
  width: 100%;
}

.table_wrapper {
  height: 100%;
}
.table_wrapper.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 231px;
}
.table_wrapper.scrollable table thead th {
  position: sticky;
  top: 0;
}

.list_wrapper {
  height: 100%;
}
.list_wrapper.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}

.app_board .table_wrapper {
  min-height: 231px;
}

.app_board .expand .table_wrapper {
  max-height: 421px;
}

.table_panel {
  width: 100%;
  border-collapse: separate;
  box-shadow: 0 1px 0 0 #f4f4f4;
}
.table_panel thead th {
  height: 42px;
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
}
.table_panel tbody td {
  height: 38px;
  padding: 0 15px;
  border-bottom: 1px solid #f4f4f4;
  font-size: 14px;
  color: #555;
}
.table_panel tbody tr:last-child td {
  border-bottom: 0;
}
.table_panel a {
  text-decoration: underline;
  color: #0084ff;
}
.table_panel .state {
  position: relative;
  padding-left: 15px;
}
.table_panel .state::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #2dbd1e;
}
.table_panel .state.run::before {
  background-color: #2dbd1e;
}
.table_panel .state.stop::before {
  background-color: #b3b3b3;
}
.table_panel .state.err::before {
  background-color: #ff6142;
}

.table_list {
  width: 100%;
  border-top: 2px solid #222;
  border-bottom: 1px solid #cbcbcb;
}
.table_list thead th {
  height: 3.75rem;
  padding: 0 1.875rem;
  border-bottom: 1px solid #222;
  font-size: 1.125rem;
  text-align: left;
  white-space: nowrap;
}
.table_list tbody td {
  height: 3.75rem;
  padding: 0 1.875rem;
  border-bottom: 1px solid #ededed;
}
.table_list tbody tr:last-of-type td {
  border-bottom: 0;
}
.table_list .td_pd0 {
  width: 50px;
  padding: 0 !important;
}

.user_table {
  flex: 1;
}

.table_data {
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  border-top: 2px solid #222;
  border-bottom: 1px solid #cbcbcb;
}
.table_data th, .table_data td {
  font-size: 1.125rem;
  padding: 0 25px;
  height: calc(100% / 3);
}
.table_data th {
  width: 200px;
  background-color: #f9f9f9;
  text-align: left;
  font-weight: 400;
}
.table_data td {
  font-weight: bold;
}
.table_data tr:not(:first-of-type) th, .table_data tr:not(:first-of-type) td {
  border-top: 1px solid #ededed;
}

.tdcont_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pop_wrap {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.pop_wrap.hide {
  display: none;
}

.pop_box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 460px;
  min-height: 200px;
  max-height: calc(100% - 64px);
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.22);
}

.pop_header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.pop_header_title {
  display: flex;
  align-items: center;
  height: 92px;
  font-size: 22px;
}

.pop_container {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pop_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px;
}

.pop_footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border-top: 1px solid #e8e8e8;
}

.label_title {
  margin-bottom: 8px;
  font-size: 15px;
}

body,
button,
input,
select,
textarea,
table {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
}

.wrap {
  position: relative;
  min-width: 1260px;
  min-height: 100%;
  margin: 0 auto;
}

.content_wrapper {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1480px;
  margin: 0 auto;
}

.header {
  z-index: 10;
  position: relative;
}

.header_top {
  background-color: #f4f4f4;
}
.header_top .content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header_logo img {
  display: block;
  width: 271px;
}

.footer_logo img {
  display: block;
  width: 240px;
}

.header_util {
  font-size: 17px;
  font-weight: 500;
}

.header_login {
  display: flex;
  align-items: center;
}

.footer {
  border-top: 1px solid #d5d3d2;
}
.footer .content_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_menu {
  margin-top: 20px;
}
.footer_menu a {
  display: inline-block;
  padding: 10px 25px;
  font-size: 15px;
  color: #7e7e7e;
}
.footer_menu a:first-child {
  padding-left: 0;
}
.footer_menu a strong {
  color: #222;
}

.copyright {
  font-size: 13px;
  color: #959595;
}

.container_sub {
  padding: 4.5rem 0;
  border-top: 1px solid #dcdcdc;
}
.container_sub .section_tit {
  margin-bottom: 0.8em;
  font-size: 2rem;
}
.container_sub .section_tit.mt {
  margin-top: 3rem;
}

.section_tit_wrap {
  display: flex;
  justify-content: space-between;
}
.section_tit_wrap.mt {
  margin-top: 3rem;
}

.header_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.sub_title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.sub_breadcrumbs {
  display: flex;
  font-size: 15px;
}
.sub_breadcrumbs .item {
  position: relative;
}
.sub_breadcrumbs .item:not(:last-child) {
  padding-right: 40px;
  color: #898989;
}
.sub_breadcrumbs .item:not(:last-child)::after {
  content: "";
  position: absolute;
  border-top: 2px solid #dedede;
  border-right: 2px solid #dedede;
  transform: rotate(45deg);
  right: 18px;
  top: 6px;
  box-sizing: border-box;
  display: block;
  width: 8px;
  height: 8px;
}
.sub_breadcrumbs .item:last-child {
  font-weight: bolder;
}

.header_nav {
  position: relative;
}
.header_nav > .content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb_service {
  padding: 7px 42px 0;
  height: 50px;
  border-radius: 50px;
  background-color: #ff6701;
  color: #fff;
  font-size: 17px;
  line-height: 2em;
}

.gnb_main {
  display: flex;
}

.gnb_main_item {
  padding: 0 30px;
}
.gnb_main_item:first-of-type {
  padding-left: 0;
}
.gnb_main_item > a {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}
.gnb_main_item > a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 3px;
  background-color: #ff6701;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.gnb_main_item.selected > a, .gnb_main_item > a:hover, .gnb_main_item > a:focus {
  color: #ff6701;
}
.gnb_main_item.selected > a::before, .gnb_main_item > a:hover::before, .gnb_main_item > a:focus::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.gnb_main_item:hover .gnb_sub_wrapper {
  height: 100px;
}

.gnb_sub_wrapper {
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 0 0 #dcdcdc, 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: height 0.3s ease-in-out;
}
.gnb_sub_wrapper .content_wrapper {
  display: flex;
  padding-top: 32px;
}

.gnb_sub_tit {
  font-size: 30px;
}

.gnb_sub {
  display: flex;
  margin-left: 55px;
}
.gnb_sub a {
  display: inline-block;
  padding: 5px 25px;
  font-size: 18px;
}
.gnb_sub a:hover {
  color: #ff6701;
}

.line_section {
  margin-top: 3.75rem;
  margin-bottom: 3rem;
  border-color: #e6e6e6;
}

.panel_comm {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  margin: 5px;
  word-break: keep-all;
}
.panel_comm.edit {
  border-color: #222;
}
.panel_comm .titlebar {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 6px 6px 6px 15px;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #dcdcdc;
  font-size: 18px;
  font-weight: 500;
}
.panel_comm .titlebar .title {
  margin-right: auto;
}
.panel_comm .titlebar .btn_comm {
  margin-left: 4px;
}
.panel_comm .contentbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panel_comm ::-webkit-scrollbar {
  width: 10px;
}
.panel_comm ::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-left-width: 4px;
}
.panel_comm ::-webkit-scrollbar-track {
  background-color: transparent;
  border-left: 1px solid #e5e5e5;
}

.container_main {
  background-color: #f7f7f7;
}
.container_main .section_tit {
  font-size: 40px;
}

.section_titbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* visual */
.main_visual {
  position: relative;
  height: 460px;
  background-color: #1653c6;
  color: #fff;
}
.main_visual::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background: url(src/resources/images/main/visual_01_repeat.jpg) repeat-x center bottom;
  background-size: contain;
}
.main_visual .visual_01 {
  position: relative;
  height: 100%;
  background: url(src/resources/images/main/visual_01.jpg) no-repeat center bottom;
  background-size: contain;
}
.main_visual .content_wrapper {
  max-width: 1280px;
  padding-top: 80px;
}

.main_visual_title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.3;
}
.main_visual_title strong {
  font-weight: bold;
}

.main_visual_sub {
  margin-top: 1.5em;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.8;
}

.main_visual_btns {
  display: flex;
  margin-top: 2em;
}
.main_visual_btns button {
  width: 220px;
  height: 60px;
  margin-right: 8px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.main_visual_btns .btn_service {
  background-color: #ff6701;
  color: #fff;
}

/* notice */
.main_notice {
  padding: 100px 0;
  background-color: #fff;
}
.main_notice .section_tit {
  font-size: 44px;
}

.main_notice_list {
  margin-top: 2em;
}
.main_notice_list li {
  display: flex;
  align-items: center;
  font-size: 17px;
  height: 3.5em;
  border-bottom: 1px solid #d5d3d2;
}
.main_notice_list li > a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
.main_notice_list a:hover .title {
  color: #ff6701;
}
.main_notice_list .category {
  width: 75px;
}
.main_notice_list .category.new {
  color: #ff6701;
}
.main_notice_list .category.c2 {
  color: #818ad5;
}
.main_notice_list .title {
  flex-grow: 1;
  font-weight: bold;
  transition: color 0.2s;
}
.main_notice_list .date {
  width: 110px;
  font-size: 14px;
  color: #97928f;
  text-align: right;
}

/* card */
.main_card {
  z-index: 2;
  position: relative;
  display: flex;
  max-width: 1100px;
  margin: -5% auto 0;
}
.main_card .main_card_item::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.main_card .main_card_item:first-child .card_cont::before {
  content: "01";
}
.main_card .main_card_item:nth-child(2) .card_cont::before {
  content: "02";
}
.main_card .main_card_item:nth-child(3) .card_cont::before {
  content: "03";
}
.main_card .main_card_item .card_cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 32% 12% 10% 7%;
}
.main_card .main_card_item .link_shortcut {
  position: absolute;
  right: 10%;
  bottom: 5%;
}

.main_card_item {
  position: relative;
  flex: 1;
  margin: 0 13px;
  border-radius: 20px;
  background-color: #fff;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;
}
.main_card_item:first-child {
  margin-left: 0;
}
.main_card_item:last-child {
  margin-right: 0;
}
.main_card_item:hover {
  background-color: #ff6701;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25);
  color: #fff;
}
.main_card_item:hover .card_cont::before {
  color: #fff;
}
.main_card_item .card_cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  word-break: keep-all;
  line-height: 1.4;
}
.main_card_item .card_cont::before {
  position: absolute;
  top: 8%;
  left: 7%;
  font-size: 3rem;
  color: #ff6701;
  font-weight: bold;
  transition: color 0.2s ease-in;
}
.main_card_item .card_cont h3 {
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 1.1em;
  margin-bottom: 0.7em;
}
.main_card_item .card_cont h3 span {
  font-weight: 400;
  font-size: 0.8em;
  padding: 0 5px;
}
.main_card_item .card_cont p {
  flex-grow: 1;
  opacity: 0.8;
}
.main_card_item .link_shortcut {
  display: block;
  padding: 0.5em 0;
  margin-top: 1.8em;
  font-size: 19px;
  font-weight: bold;
}

/* service */
.main_service {
  display: flex;
  flex-direction: column;
}
.main_service.open .main_service_container {
  display: block;
}
.main_service.open .main_service_toggle::after {
  content: " 닫기";
}

.main_service_container {
  display: none;
}
.main_service_section {
  padding: 100px 0;
  border-bottom: 1px solid #e0e0e0;
}
.main_service_section .section_tit {
  text-align: center;
}

.main_service_toggle {
  width: 462px;
  height: 72px;
  margin: 60px auto;
  border-radius: 7px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  order: 10;
}

.main_service_cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_service_cloud li {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 20%;
  max-width: 250px;
  height: 165px;
  font-size: 19px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}
.main_service_cloud li span {
  font-weight: 400;
  display: inline;
}

.main_service_card {
  position: relative;
  display: flex;
  margin-top: 45px;
}
.main_service_card .main_card_item {
  border-radius: 14px;
  box-shadow: 0 0 0 1px #ededed;
}
.main_service_card .main_card_item:hover {
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25);
}
.main_service_card .card_cont {
  padding: 7% 12% 8% 7%;
  font-size: 18px;
}
.main_service_card .card_cont h3 {
  margin-bottom: 0.5em;
  font-size: 32px;
}

.main_service_platform {
  display: flex;
  margin-top: 65px;
}
.main_service_platform li {
  flex-grow: 1;
}
.main_service_platform h3 {
  font-size: 27px;
}
.main_service_platform ul {
  margin-top: 25px;
}
.main_service_platform ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 14px;
  font-size: 17px;
  line-height: 1.4em;
  color: #555;
}
.main_service_platform ul li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: currentColor;
}

.list_form > li:not(:first-of-type) {
  margin-top: 20px;
}

.label_title {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}

.pop_msg {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-top: 40px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
}

.service_dashboard {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
}
.service_dashboard .panel {
  width: calc(25% - 20px);
  min-height: 145px;
  padding: 30px 25px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 12px;
  background-color: #5189fa;
  color: #fff;
}
.service_dashboard .panel.c1 {
  background-color: #5189fa;
}
.service_dashboard .panel.c2 {
  background-color: #ff735c;
}
.service_dashboard .panel.c3 {
  background-color: #00beea;
}
.service_dashboard .panel.c4 {
  background-color: #a574ee;
}
.service_dashboard .panel.c5 {
  background-color: #00cba4;
}
.service_dashboard .panel.c6 {
  background-color: #4343ed;
}
.service_dashboard .label {
  font-size: 18px;
  opacity: 0.8;
}
.service_dashboard .value {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -5px;
  font-size: 52px;
  font-weight: bold;
}
.service_dashboard .unit {
  font-weight: 400;
}
.service_dashboard .slash {
  padding: 0 0.3em;
  font-size: 0.8em;
  font-weight: 300;
}

.service_app {
  display: flex;
}
.service_app .section {
  flex: 1;
}
.service_app .section:not(:first-child) {
  margin-left: 20px;
}

.service_app_list > li {
  position: relative;
  height: 64px;
}
.service_app_list > li:not(:first-child) {
  margin-top: 8px;
}
.service_app_list .service_app_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 48px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  transition: border-color 0.2s;
}
.service_app_list .service_app_box:hover {
  border-color: #222;
}
.service_app_list .btn_menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 48px;
}
.service_app_list .btn_menu:hover span {
  color: #222;
}
.service_app_list .name {
  padding: 20px 25px;
  font-size: 18px;
  font-weight: 500;
}
.service_app_list .state {
  position: relative;
  min-width: 100px;
  padding-left: 20px;
  padding-right: 10px;
  color: #666;
  font-weight: 500;
}
.service_app_list .state::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  width: 14px;
  height: 14px;
  border: 4px solid #5189fa;
  border-radius: 50%;
}
.service_app_list .state.stop::before {
  border-color: #ff6142;
}

.service_app_pop {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 5px);
  right: -1px;
  width: 198px;
  border: 1px solid #222;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.15);
  font-size: 15px;
}
.service_app_pop .list_action {
  padding: 7px 20px;
}
.service_app_pop .list_action li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.service_app_pop .list_action li:not(:first-of-type) {
  border-top: 1px dotted #dedede;
}
.service_app_pop .btn_icon {
  margin-right: -8px;
}
.service_app_pop .list_info {
  padding: 12px 20px;
  border-top: 1px solid #dedede;
  background-color: #f8f8f8;
}
.service_app_pop .list_info li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}
.service_app_pop .list_info li:first-of-type .value {
  color: #5189fa;
}
.service_app_pop .list_info li:nth-of-type(2) .value {
  color: #00cba4;
}
.service_app_pop .list_info li:nth-of-type(3) .value {
  color: #ff735c;
}
.service_app_pop .list_info li::before {
  content: "";
  flex-grow: 1;
  position: absolute;
  top: 50%;
  right: 10px;
  left: 0;
  margin-top: -1px;
  border-top: 1px dotted #dedede;
}
.service_app_pop .list_info .label,
.service_app_pop .list_info .value {
  position: relative;
  background-color: #f8f8f8;
}
.service_app_pop .list_info .label {
  padding-right: 12px;
}
.service_app_pop .list_info .value {
  padding-left: 12px;
  font-weight: bold;
}
.service_app_pop .list_info .unit {
  padding-left: 4px;
  font-weight: 400;
  color: #222;
}
.service_app_pop.hide {
  display: none;
}

.list_panel > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}
.list_panel > li:not(:first-of-type) {
  border-top: 1px solid #f4f4f4;
}
.list_panel .label {
  padding-left: 16px;
  font-size: 15px;
}

.group_btns {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.group_btns button {
  position: relative;
  margin-left: 10px;
  opacity: 0.8;
}
.group_btns button:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  height: 14px;
  margin-top: -7px;
  border-left: 1px solid #e8e8e8;
}

.account_user {
  display: flex;
}
.account_user .user_photo {
  position: relative;
  width: 210px;
  height: 241px;
  border: 2px solid #222;
  padding: 4px;
  margin-right: 20px;
  background-color: #ccc;
  box-shadow: inset 0 0 0 4px #fff;
}
.account_user .user_photo img {
  display: block;
  width: 100%;
  height: 100%;
}
.account_user .user_photo:hover .user_btn {
  opacity: 1;
}
.account_user .user_btn {
  position: absolute;
  right: 8px;
  bottom: 8px;
  left: 8px;
  width: 190px;
  height: 42px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 0;
  font-size: 15px;
  transition: opacity 0.2s;
  font-weight: 500;
}

.account_board {
  display: flex;
  flex-wrap: wrap;
  margin: 15px -5px 0;
}
.account_board .panel_comm {
  flex-grow: 1;
  width: calc(100% / 2 - 10px);
}

.link_back {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1.2em;
  font-size: 30px;
  font-weight: bold;
}
.link_back .ico_css {
  width: 28px;
  margin-right: 15px;
  margin-top: 5px;
}

/* 상단 대시보드 */
.app_dashboard {
  display: flex;
}
.app_dashboard .list_info > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}
.app_dashboard .list_info > li:not(:first-of-type) {
  border-top: 1px dotted #d6d6d6;
}
.app_dashboard .list_info .label {
  padding-right: 15px;
  color: #7e7e7e;
  white-space: nowrap;
}
.app_dashboard .list_info .value {
  font-weight: 500;
}
.app_dashboard .list_info a {
  text-decoration: underline;
  color: #0084ff;
}

.app_panel_container {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
.app_panel_container:not(:first-child) {
  margin-left: 15px;
}
.app_panel_container:not(.summary) {
  flex-grow: 1;
  width: 65%;
}
.app_panel_container:not(.summary) .panel_comm {
  width: calc(50% - 10px);
}
.app_panel_container:not(.summary) .titlebar {
  padding-left: 20px;
}
.app_panel_container.summary {
  width: 35%;
}
.app_panel_container.summary .panel_comm.stop {
  border-color: #ff6142;
}
.app_panel_container.summary .panel_comm.stop .titlebar {
  background-color: #ff6142;
}
.app_panel_container.summary .panel_comm.start {
  border-color: #5189fa;
}
.app_panel_container.summary .panel_comm.start .titlebar {
  background-color: #5189fa;
}
.app_panel_container.summary .titlebar {
  color: #fff;
  padding-left: 25px;
  font-size: 16px;
  border-bottom: 0;
}
.app_panel_container.summary .titlebar .title {
  position: relative;
  padding-left: 22px;
}
.app_panel_container.summary .titlebar .title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  border-radius: 50%;
  border: 4px solid currentColor;
}
.app_panel_container .line_section {
  margin: 1.5rem 0;
  border-color: #dcdcdc;
}
.app_panel_container .app_summary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px;
}
.app_panel_container .app_summary .service_app_pop {
  top: 38px;
  right: -15px;
}
.app_panel_container .app_name {
  position: relative;
  padding-bottom: 12px;
}
.app_panel_container .app_name .name {
  margin-bottom: 18px;
  font-size: 26px;
  font-weight: bold;
}
.app_panel_container .app_name .btn_menu {
  position: absolute;
  top: -8px;
  right: -22px;
}
.app_panel_container .app_name .txt {
  font-size: 15px;
  line-height: 1.5em;
  color: #444;
}
.app_panel_container .app_data {
  display: flex;
  padding: 26px;
}
.app_panel_container .value_container {
  margin-right: auto;
}
.app_panel_container .value_container .value {
  font-size: 64px;
  font-weight: bold;
}
.app_panel_container .value_container .unit {
  padding-left: 5px;
  font-size: 40px;
}
.app_panel_container .value_container .max {
  padding-left: 15px;
  font-size: 17px;
  color: #959595;
  white-space: nowrap;
}
.app_panel_container .value_container .input_value {
  width: 110px;
  height: 77px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  color: #7e7e7e;
}
.app_panel_container .value_controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app_panel_container .value_controller .btn_icon {
  width: 38px;
  height: 36px;
  border-radius: 4px;
  background-color: #e5f2ff;
}
.app_panel_container .value_controller .btn_icon:hover {
  background-color: #c4e3ff;
}
.app_panel_container .value_controller .btn_icon:not(:first-of-type) {
  margin-top: 4px;
}

/* 하단 상세 table */
.app_board {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
.app_board .panel_comm {
  flex-grow: 1;
  width: calc(100% / 3 - 10px);
}
.app_board .panel_comm.expand {
  order: -1;
  width: calc(100% - 10px);
}

/*# sourceMappingURL=index.css.map */
