.btn_more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 46px;
  border: 0;
  border-radius: 46px;
  background-color: #f4f4f4;
  font-size: 16px;
  color: #838383;
  font-weight: bold;
}

.btn_comm {

  &.primary {

  }

  &.secondary {

  }
}

.btn_pop {
  width: 110px;
  height: 42px;
  margin: 0 2px;
  border-radius: 4px;
  font-size: 15px;

  &.submit {
    background-color: #0084ff;
    color: #fff;
  }

  &.cancel {
    border: 1px solid #222;
  }
}
