.btn_more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 46px;
  border: 0;
  border-radius: 46px;
  background-color: #f4f4f4;
  font-size: 16px;
  color: #838383;
  font-weight: bold;
}

.btn_comm {
  min-width: 72px;
  height: 36px;
  padding: 0 20px;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;

  &.submit {
    border: 0;
    background-color: #008aff;
    color: #fff;
  }

  &.cancel {
    border-color: #222;
  }

  &.critical {
    border: 0;
    background-color: #ff6701;
    color: #fff;
  }

  &.err {
    border: 0;
    background-color: #fdf3f2;
    color: #e76055;
    transition: background-color .2s, color .2s;

    &:hover {
      background-color: #e76055;
      color: #fff;
    }
  }

  &.lg {
    min-width: 130px;
    height: 48px;
    font-size: 16px;
  }
}

.btn_pop {
  width: 110px;
  height: 42px;
  margin: 0 2px;
  border-radius: 4px;
  font-size: 15px;

  &.submit {
    background-color: #0084ff;
    color: #fff;
  }

  &.cancel {
    border: 1px solid #222;
  }
}

.btn_icon {
  width: 32px;
  height: 32px;
}

.btn_menu {
  position: relative;
  width: 48px;
  min-height: 48px;

  &:hover span {
    color: #222;
  }
}