body,
button,
input,
select,
textarea,
table {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
}

.content_wrapper {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1480px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  min-width: 1100px;
  min-height: 100%;
  margin: 0 auto;
}

.header {
  z-index: 10;
  position: relative;
}

.header_top {
  background-color: #f4f4f4;

  .content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
}

.header_logo,
.footer_logo {
  img {
    display: block;
  }
}

.header_util {
  font-size: 17px;
  font-weight: 500;
}

.header_login {
  display: flex;
  align-items: center;
}

.footer {
  border-top: 1px solid #d5d3d2;

  .content_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

}

.footer_logo {
  img {
    width: 240px;
  }
}

.footer_menu {
  margin-top: 20px;

  a {
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    color: #7e7e7e;

    &:first-child {
      padding-left: 0;
    }

    strong {
      color: #222;
    }
  }
}

.copyright {
  font-size: 13px;
  color: #959595;
}


.container_sub {
  padding: 4.5rem 0;
  border-top: 1px solid #dcdcdc;
}

.header_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.sub_title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.sub_breadcrumbs {
  display: flex;
  font-size: 15px;

  .item {
    position: relative;

    &:not(:last-child) {
      padding-right: 40px;
      color: #898989;

      &::after {
        content: '';
        position: absolute;
        border-top: 2px solid #dedede;
        border-right: 2px solid #dedede;
        transform: rotate(45deg);
        right: 18px;
        top: 6px;
        box-sizing: border-box;
        display: block;
        width: 8px;
        height: 8px
      }
    }
    &:last-child {
      font-weight: bolder
    }
  }
}

.section_tit {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 2rem;
}